header {
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}
h1{
    font-family: sans-serif;
    text-align: center;
    margin-top: 0px;
    padding: 50px 0px 10px 0px;
}

body{
    background-color: #a9d7d1;
    background-size: cover;
    font-family: sans-serif;
}

#Survey {
    background-color: #eaedf2;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    max-width: 1000px;
    min-width: 500px;
    width: 75%;
    padding-bottom: 30px;
}

#submit {
    background-color:#59ace0;
    color: white;
    border-radius: 4px;
    height: 30px;
    width: 75px;
    border: 0px;
    margin: 10px;
}

.input {
    width: 300px;
    height: 30px;
    font-size: 15px;
}
